@charset "UTF-8";

.container {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    gap: 10px;
    padding: 10px;
}

.box1 {
    height: 150px;
    flex: auto;
    text-align: center;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.box2 {
    height: 150px;
    flex: auto;
    text-align: center;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in;
}

.box3 {
    height: 150px;
    flex: auto;
    text-align: center;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
}

.box4 {
    height: 150px;
    flex: auto;
    text-align: center;
    background-color: green;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-out;
}

@media screen and (max-width:768px) {
    .container {
        flex-direction: column;
    }

    .box1 {
        background-color: darkred;
    }

    .box2 {
        background-color: darkblue;
    }

    .box3 {
        background-color: darkgoldenrod;
    }

    .box4 {
        background-color: darkgreen;
    }
}