@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');


:root {
    --font:"Instrument Serif", serif;
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: black url("imagens/papel-antigo.jpg") center center / cover fixed;
    height: 100vh;
}

.citacao {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 430px;
    background-color: rgba(169, 169, 169, 0.308);
    border-radius: 5px;
    box-shadow: inset 1px 0px 12px black;
}

.citacao h1 {
    font-variant: small-caps;
    padding-top: 10px;
}

.citacao p {
    font-size: 20px;
    font-family: var(--font);
    text-align: justify;
    text-indent: 5px;
    line-height: 2em;
    padding: 10px;
    font-style: italic;
}

footer {
    text-align: left;
    margin-top: 20px;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    font-size: 20px;
}

footer a:hover {
    text-decoration: underline;
    color: darkcyan;
}