@charset "UTF-8";

body {
    display: block;
    text-align: center;
    font-size: 1em;
    background-color: rgba(173, 216, 230, 0.61);
}


header h1{
    font-size: 2em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
}

header h2 {
    font-size: 1.5em;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.37);
}

ul {
    list-style-position: inside;
}

img {
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
}


@media screen and (min-width:768px) and (max-width:992px) {

    body {
        background-color: rgba(144, 238, 144, 0.507);
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
        background-color: purple;
    }
}

@media screen and (min-width:1200px) {
    body {
        background-image: linear-gradient(to right, #ff7e5f, #feb47b);
        border: 2px solid #fff;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.397);
    }
}