@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    font-variant: small-caps;
    text-decoration: underline;
    font-style: italic;
    color: red;
}

main {
    max-width: 700px;
    margin: auto;
    display: block;
    background-color: grey;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
}

.caixa1 {
    width: calc(100% - 555px);
    height: 150px;
    background-color: blue;
    float: left;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}

.caixa1:hover {
    background-color: yellow;
    transform: translate(-2%, -2%);
    transition: transform .3s, background-color .3s;
    transition-timing-function: ease;
}

.caixa2 {
    width: calc(100% - 555px);
    height: 150px;
    background-color: yellow;
    float: left;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}

.caixa2:hover {
    background-color: red;
    transform: translate(-2%, -2%);
    transition: transform .3s, background-color .3s;
    transition-timing-function: ease-in;
}

.caixa3 {
    width: calc(100% - 555px);
    height: 150px;
    background-color: red;
    float: left;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}

.caixa3:hover {
    background-color: green;
    transform: translate(-2%, -2%);
    transition: transform .3s, background-color .3s;
    transition-timing-function: ease-in-out;
}

.caixa4 {
    width: calc(100% - 555px);
    height: 150px;
    background-color: green;
    float: left;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px;
}

.caixa4:hover {
    background-color: black;
    transform: translate(-2%, -2%);
    transition: transform .3s, background-color .3s;
    transition-timing-function: ease-out;
}

@media screen and (min-width: 768px) and (max-width:992px) {
    main {
        max-width: 500px;
    }

    .caixa1 {
        width: calc(100% - 24px);
    }

    .caixa2 {
        width: calc(100% - 24px);
    }

    .caixa3 {
        width: calc(100% - 24px);
    }

    .caixa4 {
        width: calc(100% - 24px);
    }
}