 @charset "UTF-8";

 * {
    padding: 10px;
    margin: 10px;
 }

 body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: black;
 }

 header {
    text-align: center;
 }

 main img {
    display: none;
 }