@charset "UTF-8";

* { 
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
    padding: 10px;
    color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    min-width: 600px;
    max-width: 1000px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

main p {
    text-align: justify;
    text-indent: 10px;
    padding: 10px;
}

main img {
    width: 100%;
}